@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  margin: 0;
  font-family: 'Rubik', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(224,109,173);
  background: linear-gradient(90deg, rgba(224,109,173,1) 0%, rgba(255,180,180,1) 0%, rgba(180,176,240,1) 100%);
}

button {
  cursor: pointer;
}